html {
  width: 100%;
  height: 100%;
}

body {
  width: 99%;
  height: 98%;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 94%, rgba(237, 237, 237, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(94%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
  background-size: contain;
}

.inputForm {
  width: auto;
  height: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
}

input {
  text-align: center;
}

.inputFieldset {
  margin-left: 1em;
}

.mainContainer {
  left: 0;
  position: absolute;
  text-align: center;
  margin-top: -12%;
  top: 50%;
  width: 95%;
  margin-left: 2%;
  border: none;
}

.btncontainer {
  display: flex;
  justify-content: space-between
}

/* Glow */

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(3px) translateZ(0);
  transform: perspective(3px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.submitButton {
  position: relative;
  cursor: pointer;
  border: none;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  margin-right: 1em;
  margin-left: 1em;
  font-weight: lighter;
  border-radius: 8px;
  border-width: 8px 6px 0;
  border-bottom-width: 0;
  padding: 10px 30px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  color: #ffffff;
  background-color: #1ABC9C;
  white-space: normal;
}

.createButton {
  position: relative;
  cursor: pointer;
  border: none;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  margin-right: 1em;
  margin-left: 1em;
  font-weight: lighter;
  border-radius: 8px;
  border-width: 8px 6px 0;
  border-bottom-width: 0;
  padding: 10px 30px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  color: #ffffff;
  background-color: #3498DB;
  white-space: normal;
}

.submitButton:hover,
.submitButton:focus {
  color: #ffffff;
  background-color: #16A085;
  border-color: #48c9b0
}

.createButton:hover,
.createButton:focus {
  color: #ffffff;
  background-color: #2980B9;
  border-color: #48c9b0
}

.topContainer {
  color: white;
  background-color: rgb(31, 120, 81);
  height: 80px;
  width: auto;
  padding: 10px 20px 0px 20px;
  margin-bottom: 1em;
}

a {
  color: #34A9DC;
  text-decoration: none;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

*:focus {
  outline: none;
}

/******* Menu Bar *****/

.menuTab {
  position: absolute;
  right: 8px;
  top: 1em;
  color: white;
  margin-right: 1em;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transition: all ease-in-out 0.3s;
}

/***Wedges***/

#refreshing {
  height: auto;
  width: auto;
  position: fixed;
  right: 2em;
  top: 100px;
}

@keyframes lds-wedges {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes lds-wedges {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.lds-wedges {
  position: relative;
}

.lds-wedges > div > div {
  -webkit-transform-origin: 100px 100px;
  transform-origin: 100px 100px;
  -webkit-animation: lds-wedges 2s linear infinite;
  animation: lds-wedges 2s linear infinite;
  opacity: 1;
}

.lds-wedges > div > div > div {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 96px;
  height: 96px;
  border-radius: 96px 0 0 0;
  -webkit-transform-origin: 100px 100px;
  transform-origin: 100px 100px;
}

.lds-wedges > div div:nth-child(1) > div {
  background: #3be8b0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.lds-wedges > div div:nth-child(1) {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.lds-wedges > div div:nth-child(2) > div {
  background: #1aafd0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.lds-wedges > div div:nth-child(2) {
  -webkit-animation-duration: 0.666666666666667s;
  animation-duration: 0.666666666666667s;
}

.lds-wedges > div div:nth-child(3) > div {
  background: #6a67ce;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.lds-wedges > div div:nth-child(3) {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.lds-wedges > div div:nth-child(4) > div {
  background: #ffb900;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.lds-wedges > div div:nth-child(4) {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.lds-wedges {
  width: 60px !important;
  height: 60px !important;
  -webkit-transform: translate(-30px, -30px) scale(0.3) translate(30px, 30px);
  transform: translate(-30px, -30px) scale(0.3) translate(30px, 30px);
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s linear;
}

.shown {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s linear;
}

/***Wedges***/
